.index{
    background-color: #CF0F0F;
}

.logo-container{
    display: flex;
    width: 100%;
    overflow: visible;
    margin: 0 auto;

}
.Logo{
    margin-left: 23%;
    margin-right: auto;
    display: block;
    margin-top: 10%;
    margin-bottom: auto;
    width: 650px;
    height: auto;
    flex-shrink: 0;
    object-fit: contain;
}

.snap-button
{
  background-color: #000000;
  border: none;
  color: #ffffff;
  text-align: center;
  justify-content: center;
  font-family: "Castoro Titling", serif;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  top: 56%;
  bottom: 40%;
  left: 45%;
  border-radius: 15px;
  padding: 7px;
  width: 90px;
  margin-top: 10%;
}

.framesBody
{
    background-color: #CF0F0F;
}

.snapBody{
    background-color: #000000;
}

.container{
    padding: 5rem;

}

.slider-wrapper{
    position: relative;
    max-width: 10 rem;
    margin: 0 auto;
}

.slider{
    color: #fff;
    display: flex;
    width: 25 rem;
    height: auto;
    overflow-x: auto;
    scroll-snap-type: x mandatory;   
}

.slider img{
    flex: 0.5 0 10%;
    scroll-snap-align: center;
    object-fit: cover;
}

.slider::-webkit-scrollbar{
    display: none;
}